:root {
    --primary-white: #ffffff;
    --primary-brand-iris: #4D5AE5;
    --pressed-state-ocean: #404BBF;
    --navi-blue: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
    --light-slate-color: #8e8f99;
    --cornflower-color: #e7e9fc;
    --dairy-color: #fcfcfc;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-color);
    background-color: var(--primary-white);
}

.visually-hidden {
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

/*!-------HEADER-------*/

.header-logo {
    color: var(--primary-brand-iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-acssent {
    color:var(--navi-blue);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-menu-imet {
    color: var(--navi-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-menu-list {
    color: var(--navi-blue);
}

.header-ads {
    font-style: normal;
}

.header-address-item { 
    color: var(--slate-color);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-address-list {
    color: var(--slate-color);

}
.header-menu-imet .link:hover {
    color: var(--pressed-state-ocean);
}
.header-menu-imet .link:focus {
    color: var(--pressed-state-ocean);
}
.header-address .link:hover {
    color: var(--pressed-state-ocean);
}
.header-address .link:focus {
    color: var(--pressed-state-ocean);
}

/*?-------HERO-------*/

.hero {
    background-color: var(--navi-blue);
}

.hero-title {
    color: var(--primary-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

}
.hero-button {
    color: var(--primary-white);
    background-color: var(--primary-brand-iris);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button .link:hover,
.hero-button .link:focus {
    color: var(--pressed-state-ocean);
}


/**-------BENEFITS-------**/

.benefits {
    background-color: var(--primary-white);
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}

.benefits-list {
}

.benefits-item {
}

.benefits-subtitle {
    color: var(--navi-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-item-text {
    color: var(--slate-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*!-----DOING-----*/

.doing {
}

.doing-subtitle {
    color: var(--navi-blue);
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02;
    text-transform: capitalize;
}

.doing-list {
}

.doing-item {
}

.doing-img {
}

/*?-----TEAM-----*/

.team { 
    background-color: var(--cloud-color);
}

.team-title {
    color:var(--navi-blue);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-list .list {
    background-color: var(--primary-white);
}

.team-item {
    background-color: var(--primary-white);
}

.team-subtitle {
    color: var(--navi-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-subtitle-text {
    color: var(--slate-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**----FOOTER----**/

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: var(--primary-brand-iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-acssent {
    color:var(--cloud-color);
    font-size: 18px;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color:var(--cloud-color);
    line-height: 24px;
    letter-spacing: 0.02em;
}

/**-----PORTFOLIO-----**/

/**Menu button**/

.button-main :hover,
.button-main :focus {
    color: var(--primary-white);
    background-color:var(--pressed-state-ocean);
}

.butoon-main {
    color: var(--primary-brand-iris);
    background-color: var(--cloud-color);
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

/*!-----content-----*/

.content {
}
.content-list {
    list-style: none;
    text-decoration: none;
}
.content-item {
    text-decoration: none;
}
.visually-hidden {
}
.content-img {
}
.content-subtitle {
    color: var(--navi-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.content-text {
    color: var(--slate-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}


